/**********************BELOW 1344PX ***************************/
@media (max-width: 86em) {
  .container {
    max-width: 120rem;
  }
  .section-hero {
    max-width: 60rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}

/**********************BELOW 1200PX ***************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .heading-secondary {
    font-size: 3.6em;
  }
  .heading-Third {
    font-size: 2.4em;
  }
  .grid {
    -webkit-column-gap: 4.8rem;
    -moz-column-gap: 4.8rem;
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
}

/**********************BELOW 940PX ***************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  .main-header {
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        from(rgba(32, 32, 32, 0.8)),
        to(rgba(29, 29, 29, 0.7))
      ),
      url(img/black-pc-hero2.jpg);
    background-image: -o-linear-gradient(
        bottom,
        rgba(32, 32, 32, 0.8),
        rgba(29, 29, 29, 0.7)
      ),
      url(img/black-pc-hero2.jpg);
    background-image: linear-gradient(
        to top,
        rgba(32, 32, 32, 0.8),
        rgba(29, 29, 29, 0.7)
      ),
      url(img/black-pc-hero2.jpg);

    background-position: bottom;
  }

  .section-hero {
    max-width: 100rem;
    padding: 6.4rem 8rem;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -75%);
    -ms-transform: translate(-50%, -75%);
    transform: translate(-50%, -75%);
    width: 100%;
  }

  .hero-text-box {
    text-align: center;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .service-content {
    padding: 2.4rem 3.2rem 4.8rem 3.2rem;
  }

  .pricing-plan {
    padding: 3.2rem 4.8rem;
  }
  /* mobile nav */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(51, 51, 51, 0.98);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    /* Hide */
    /* no aniamtion */
    /* display: none; */

    /* hide element without using display:none; */

    /* hide */
    opacity: 0;

    /* make it unacceessinle to mouse and keyboard */
    pointer-events: none;

    /* hide it from screen reader */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3.2rem;
  }
}

/**********************BELOW 704PX ***************************/

@media (max-width: 44em) {
  .grid--3-cols,
  .grid--4-cols {
    -ms-grid-columns: (1fr) (2);
    grid-template-columns: repeat(2, 1fr);
  }

  .customers {
    -ms-grid-columns: (1fr) (1);
    grid-template-columns: repeat(1, 1fr);
  }

  .list-of-services {
    grid-column: 1 / -1;
    /* justify-self: center; */
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .section-padding {
    padding: 8rem 0;
  }

  .pricing-plan {
    width: 100%;
  }

  .main-form {
    -ms-grid-columns: (1fr) (1);
    grid-template-columns: repeat(1, 1fr);
  }
}

/**********************BELOW 544PX ***************************/

@media (max-width: 34em) {
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .heading-primary {
    font-size: 4rem;
  }

  .heading-secondary {
    font-size: 3rem;
  }

  .heading-steps {
    font-size: 3rem;
  }

  .section-hero {
    padding: 0 3.2rem;
  }

  .main-header {
    height: 93vh;
  }

  .btn--outline:link,
  .btn--outline:visited {
    padding: 2rem 2.4rem;
  }

  .btn--fill:link,
  .btn--fill:visited {
    padding: 2rem 3.2rem;
  }

  .step-img-box:nth-child(2) {
    -ms-grid-row: 1;
    grid-row: 1;
  }

  .step-img-box:nth-child(6) {
    -ms-grid-row: 5;
    grid-row: 5;
  }

  .step-img-box {
    -webkit-transform: translateY(2.4rem);
    -ms-transform: translateY(2.4rem);
    transform: translateY(2.4rem);
  }

  .form {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }

  .btn-form {
    margin-top: 2.4rem;
  }

  .form-image-box {
    -ms-grid-row: 1;
    grid-row: 1;
    height: 40rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .form-image {
    height: 100%;
    width: auto;
  }

  .form-text-box {
    padding: 3.2rem;
  }
}

@media (max-height: 42em) and (max-width: 34em) {
  .section-hero {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
  html {
    font-size: 44%;
  }
}
/* 
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
 */
